.mainDiv {
    padding: 0 5%;
  }
  
  .heading {
    color: black;
  }

  .table {
    width: 75%;
  }

.container{
    position: absolute;
    padding: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color:#FAFAFA;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
}

.title-box{
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.5em;
   
    
}
.title-box #goals{
    font-size: 1.8em;
}
.team{
    width: 100px;
}
.standings-table{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.table-tile{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}